h1 {
    color: white; 
}

img2 {
    border-radius: 8px;
}

div3  {
    text-align: unset
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a{
    background-color: #4CAF50;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

body {
background:#fff;
font-family:Arial, sans-serif;
}
p {
text-align: end
}

p2 {
    text-align: start
}

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);   
    background: rgba(0,0,0,0.5);
    color: #fff;     
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}

    img {
      display: block;
      max-width: 100%;
    }
    
    .galeria {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center; 
  
    }
    
    .galeria__item {
      width: 80%;
      cursor: pointer;
    }
    @media (min-width:480px) {
      .galeria__item {
        width: 48%;
        margin: 5px;
      }
    }
    @media (min-width:768px) {
      .galeria__item {
        width: 30%;
      }
    }
    @media (min-width:1024px) {
      .galeria__item {
        width: 20%;
        margin: 10px;
      }
    }
    
    .modal {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.7);
      top: 0;
      left: 0;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modal__img {
      width: 70%;
      max-width: 600px;
    }
    
    .modal__boton {
  
      width: 50px;
      height: 50px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      font-family: monospace;
      line-height: 50px;
      text-align: center;
      background: red;
      border-radius: 50%;
      cursor: pointer;
      
      position: absolute;
      right: 10px;
      top: 10px;
    }
      

    /* Formulario */

  form {

    width:30%;
    border:1px solid #17202A;
    margin:auto;
    padding:20px;
  }

  label {
    font-size: 12px;
    display: block;
    width: 100%;
  }

  input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #17202A;
  }

  select {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #17202A;
  }

  input:focus, select:focus {
    border:1px solid #1668C4;
  }

  input[type="submit"]{
    margin-bottom: 0;
    background: #1668C4;
    color: #fff;
    border: none;
  }

  input[type="submit"]:hover {
    background: #4A88F4;
    cursor: pointer;
  }

  @media (max-width:100px) {
    form {
      width: 100%;
    }
  }

   /*  Finaliza Formulario */